{#                                            <div class="flex-container">#}
{#                                                <label class="required">Send at:</label>#}
{#                                                <br>#}
{#                                                <div class="d-flex flex-row wrap justify-content-between">#}
{#                                                    <input type="date" name="send_at_0" class="form-control" size="10" required="" id="id_send_at_0">#}
{#                                                    <input type="time" name="send_at_1" class="form-control" size="8" required="" id="id_send_at_1">#}
{#                                                </div>#}
{#                                            </div>#}