:root {
    --swatch_d3e645d3: hsl(0, 0%, 100%);
    --swatch_bb72d8fa: hsl(240, 17%, 98%);
    --swatch_91e3456b: hsl(240, 12%, 93%);
    --swatch_5529260b: hsl(234, 14%, 86%);
    --swatch_8c8338cf: hsl(229, 10%, 56%);
    --swatch_ab57a8aa: hsl(229, 10%, 42%);
    --swatch_ef72f0d2: hsl(231, 10%, 27%);
    --swatch_fe06ca39: hsl(227, 11%, 16%);
    --swatch_05af9801: hsl(214, 17%, 8%);
    --swatch_684e28df: hsl(225, 40%, 2%);
    --swatch_e4236dad: hsl(240, 60%, 97%);
    --swatch_79421f37: hsl(242, 60%, 89%);
    --swatch_6810d078: hsl(242, 65%, 76%);
    --swatch_5c681326: hsl(242, 71%, 56%);
    --swatch_68657cda: hsl(242, 55%, 46%);
    --swatch_4f4a1911: hsl(242, 55%, 32%);
    --swatch_f5a7b141: hsl(0, 71%, 97%);
    --swatch_0f9d8b69: hsl(2, 73%, 90%);
    --swatch_6627264b: hsl(1, 75%, 78%);
    --swatch_9030003b: hsl(3, 80%, 57%);
    --swatch_f26afdbc: hsl(3, 60%, 46%);
    --swatch_66b6b8ee: hsl(2, 60%, 33%);
    --swatch_adaa1063: hsl(27, 85%, 97%);
    --swatch_ffc97e6b: hsl(26, 87%, 91%);
    --swatch_92526c7c: hsl(28, 88%, 80%);
    --swatch_58b42f2a: hsl(33, 90%, 63%);
    --swatch_6aaf83d7: hsl(33, 56%, 52%);
    --swatch_480b4b90: hsl(33, 53%, 36%);
    --swatch_bb0433d4: hsl(140, 33%, 96%);
    --swatch_2a913321: hsl(146, 35%, 87%);
    --swatch_0f5fee58: hsl(146, 39%, 72%);
    --swatch_175769f0: hsl(151, 50%, 49%);
    --swatch_d39b7330: hsl(151, 50%, 40%);
    --swatch_e5455b9d: hsl(151, 50%, 28%);
    --neutral--white: white;
    --neutral--100: #f9f9fb;
    --neutral--200: #ebebef;
    --neutral--300: #d6d7e0;
    --neutral--400: #84889a;
    --neutral--500: #606476;
    --neutral--600: #3e404c;
    --neutral--700: #24262d;
    --neutral--800: #111418;
    --neutral--900: #030407;
    --violet--background: #f3f3fc;
    --violet--lighter: #d3d2f4;
    --violet--light: #9d9aea;
    --violet--base: #443fde;
    --violet--dark: #3935b6;
    --violet--darker: #28257e;
    --red--background: #fdf2f2;
    --red--lighter: #f8d4d3;
    --red--light: #f19e9d;
    --red--base: #e9423a;
    --red--dark: #bc362f;
    --red--darker: #872522;
    --orange--background: #fef7f1;
    --orange--lighter: #fce5d4;
    --orange--light: #f9c99f;
    --orange--base: #f6a94c;
    --orange--dark: #c98b40;
    --orange--darker: #8c612b;
    --green--background: #f1f8f4;
    --green--lighter: #d2e9dc;
    --green--light: #9cd3b4;
    --green--base: #3ebb7f;
    --green--dark: #339968;
    --green--darker: #246b49;
}
.account-page-wrapper {
    display: flex !important;
    height: 100% !important;
    max-width: 100%;
    margin: 2em !important;
    flex-direction: row !important;;
}
.account-left-block {
    display: flex;
    width: 50%;
    padding-right: 3%;
    padding-left: 5%;
    align-items: center;
    height: 100% !important;
}
.account-form-block {
    width: 100%;
    max-width: 580px;
    margin-left: auto;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
}
.w-users-userloginformwrapper {
    position: relative;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.account-page-wrapper, form {
    display: block;
    margin-top: 0em;
}
.account-form-title {
    margin-bottom: 48px;
    border-style: none;
    text-align: left !important;
}
.w-users-userformheader {
    text-align: center;
}
.account-page-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.account-page-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-field {
    height: 48px !important;
    margin-bottom: 24px;
    padding: 12px;
    border-style: solid !important;
    border-width: 1px !important;
    border-top-color: var(--neutral--200) !important;
    border-right-color: var(--neutral--200) !important;
    border-bottom-color: var(--neutral--200) !important;
    border-left-color: var(--neutral--200) !important;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--wf-designer--textColor);
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.account-page-wrapper input {
    line-height: normal;
}
.account-page-wrapper button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.account-page-wrapper input[type="email" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
.account-page-wrapper input.w-button {
    -webkit-appearance: button;
}
.button-primary {
    margin-top: 39px;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--violet--base);
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.6, 0.6, 0, 1);
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.02em;
}
.w-users-userformbutton {
    width: 100%;
    text-align: center;
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    font-size: 16px !important;
}
.form-divider {
    height: 1px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: var(--neutral--200);
}
.form-footer {
    justify-content: flex-start;
    column-gap: 8px;
}
.w-users-userformfooter {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.error-state {
    position: relative;
    margin: 24px 0px;
    padding: 24px;
    background-color: var(--red--background);
    color: var(--red--darker);
}
.w-users-userformerrorstate {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    margin-left: 20px;
    margin-right: 20px;
}
.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}
.account-right-block {
    /* height: 100%  !important; */
    display: flex;
    width: 50%;
    margin-left: auto;
    padding: 64px 5%;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://uploads-ssl.webflow.com/6549f79…/6549f79…_Signup%20Background.svg);
    background-position: 0px 0px;
    background-repeat: no-repeat !important;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.close{
    padding: 6px;
    background-color: var(--swatch_91e3456b) ;
    border-radius: 10px !important;
    /* display: none !important; */
    margin: 1em;
    align-items: center !important;;
}
.account-content-wrap {
    display: flex;
    height: 100%;
    max-height: 610px;
    max-width: 450px;
    flex-direction: column;
    justify-content: space-between;
}
.account-heading-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-badge-white {
    display: flex;
    margin-bottom: 24px;
    padding: 8px 16px 8px 8px;
    align-items: center;
    column-gap: 12px;
    border-radius: 0px;
    background-color: rgba(249, 249, 251, 0.1);
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
}
.header-badge-light {
    padding: 4px 8px;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    color: var(--violet--base);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.account-page-wrapper h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Archivo;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--neutral--white);
}
.account-testimonial-wrap {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;
}
.account-testimonial-wrap-inner {
    margin-top: 42px;
}
.account-quote-icon {
    width: 72px;
    height: 72px;
}
.account-page-wrapper img {
    display: inline-block;
    max-width: 100%;
}
.account-page-wrapper img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.account-page-wrapper img {
    border: 0;
}
.paragraph-large.text-color-white {
    color: rgb(255, 255, 255);
}
.paragraph-large {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: -0.02em;
}
.account-page-wrapper p {
    margin-bottom: 0px;
    color: var(--neutral--600);
    font-size: 20px !important;
    line-height: 32px !important;
}
.account-page-wrapper p {
    margin-top: 0;
    margin-bottom: 10px;
}
.account-author-wrap {
    display: flex;
    margin-top: 32px;
    align-items: center;
    column-gap: 16px;
}
.account-avatar {
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.image-cover {
    width: 100%;
    height: 100%;
    margin-top: 3px;
    object-fit: cover;
}
.account-author-details {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.paragraph-regular {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: -0.02em;
    color: var(--neutral--white);
}
.footnote {
    color: var(--neutral--400);
    font-size: 12px;
    line-height: 16px;
}
.account-form-title h3 {
    margin-top: 0px !important;
    margin-bottom: 0px;
    font-family: Archivo;
    font-size: 69px !important;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.error-state {
    position: relative;
    margin: 24px 0px;
    padding: 24px;
    background-color: var(--red--background);
    color: var(--red--darker);
}
.w-users-userformerrorstate {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    margin-left: 20px;
    margin-right: 20px;
}
.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}
.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.w-users-userformheader {
    text-align: center;
}
.account-icon-wrapper {
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--violet--background);
}
.icon-large {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
.checkbox {
    width: 25px !important;
    height: 25px !important;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 0px;
    flex: 0 0 auto;
    border-top-color: var(--neutral--300);
    border-right-color: var(--neutral--300);
    border-bottom-color: var(--neutral--300);
    border-left-color: var(--neutral--300);
    border-radius: 0px;
}
.w-checkbox-input--inputType-custom {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.w-checkbox-input {
    float: left;
    margin: 4px 0px 0px -20px;
    line-height: normal;
}
.w-checkbox-input--inputType-custom {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.w-checkbox-input {
    float: left;
    margin: 4px 0px 0px -20px;
    line-height: normal;
}
input[type='checkbox'], input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
.checkbox-label {
    margin-bottom: 0px;
}
.account-icon-wrapper {
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--violet--background);
}